body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c6b3d; /* ディープトーンの緑 */
    color: white;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('IMG_1619.jpeg'); /* 背景画像 */
    background-size: cover;
    background-position: center;
}

.login-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* 半透明の背景 */
    padding: 30px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.error-message {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
}
